# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
venv/
.venv/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# OS
.DS_Store
Thumbs.db

# Arquivos temporários
*.tmp
*.log

# Dataset de geolocalização (>50MB — baixar via Kaggle)
data/olist_geolocation_dataset.csv
